pkgbase = leakspot
	pkgdesc = Zero-overhead process memory and resource leak watcher for Linux systems
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/AkhmatovAleksandr/leakspot
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = clang
	makedepends = mold
	depends = glibc
	depends = gcc-libs
	optdepends = bash-completion: for tab-completion in bash
	options = !debug
	source = leakspot-1.0.0.tar.gz::https://github.com/AkhmatovAleksandr/leakspot/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = a9118cb08c17f636a7937a964d5b9946f8b9dc91a6cff5d0542260e122cd24ed

pkgname = leakspot
