pkgbase = leakspot-git
	pkgdesc = Zero-overhead process memory and resource leak watcher for Linux systems (VCS git version)
	pkgver = 1.0.0.r0.g0000000
	pkgrel = 1
	url = https://github.com/AkhmatovAleksandr/leakspot
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = clang
	makedepends = mold
	depends = glibc
	provides = leakspot
	conflicts = leakspot
	source = git+https://github.com/AkhmatovAleksandr/leakspot.git
	sha256sums = SKIP

pkgname = leakspot-git
